.theme-entry .panel-header div, 
.theme-entry .grid-header-wrapper div {
    color: #00496e; /* Text color */
    background-color: #e6edf1; /* Background color */
    font-weight: bold;
}
.theme-entry input.SFC.SourceCode-Forms-Controls-Web-TextBox
{
    border: 2px solid #00496e; 
    background: #e6edf1;
}
.theme-entry span.SourceCode-Forms-Controls-Web-Label
{
     color: #00496e; /* Text color */
    font-weight: 250;
}
.theme-entry .input-control.select-box:not(.hide-buttons) .input-control-m-c
{
    border: 2px solid #00496e; 
    background-color: #e6edf1; /* Background color */
}
.theme-entry .input-control.text-input .input-control-m-c
{
     border: 2px solid #00496e !important; 
     background-color: #e6edf1; /* Background color */
}
.theme-entry .input-control.radio.style-aware.checked .svg-radio-btn-checked {
    fill:  #00496e; 
}
.theme-entry .input-control.radio.style-aware.checked input[type="radio"] {
    border: 2px solid  #00496e; 
}
.theme-entry a.SourceCode-Forms-Controls-Web-Button
{
    background :  #00496e;
    color: white;
    
}
.theme-entry .grid-header-wrapper .grid-header-text>span, .theme-entry .panel-header-wrapper .panel-header-text>span
{
     color: #00496e; /* Text color */
    background-color: #e6edf1; /* Background color */
    font-weight: bold;
}
.theme-entry .grid .grid-column-header-cell .grid-column-header-text
{
     color: white; /* Text color */
}
.theme-entry a.SourceCode-Forms-Controls-Web-Button {
    margin: 10px; /* Adjust as needed */
}
.theme-entry .day.selected,
{
    border-color :  #00496e;
    background-color :  #00496e;   
}
html[dir="ltr"] .theme-entry .grid-header-wrapper .grid-header-text,
html[dir="ltr"] .theme-entry .panel-header-wrapper .grid-header-text,
html[dir="ltr"] .theme-entry .grid-header-wrapper .panel-header-text,
html[dir="ltr"] .theme-entry .panel-header-wrapper .panel-header-text {
  
    background-color: #e6edf1;   
    outline: 5px solid #e6edf1; /* Adds red border around margin */
}
html[dir=ltr] .theme-entry .input-control.select-box .input-control-buttons {
    border-width: 2px 2px 2px 0 !important; 
    border-style: solid;  
    border-color: #00496e; 
}
html, body, form
{
    background : white;
}
html[dir=ltr] .theme-entry .grid-header-wrapper .grid-header-controls, html[dir=ltr] .theme-entry .panel-header-wrapper .grid-header-controls, 
html[dir=ltr] .theme-entry .grid-header-wrapper .panel-header-controls, html[dir=ltr] .theme-entry .panel-header-wrapper .panel-header-controls
{
    background-color: #e6edf1;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.readonly, .theme-entry input[type=text].input-control.readonly, .theme-entry input[type=password].input-control.readonly 
{
    border: 2px solid #00496e; 
    background: #e6edf1;
}
.theme-entry .input-control.text-input.readonly .input-control-m-c, .theme-entry .input-control.text-input.read-only .input-control-m-c
{
     background-color: #e6edf1;
    background-color: #e6edf1; /* Background color */
    
}
.theme-entry .grid table.grid-column-header-table td {
    background-color: #00496e; /* Set background color */
    color: white; /* Set font color to white */
    font-weight: bold; /* Make font bold */
    border: none; /* Remove column separator (borders) */
}
/* Add a border around the entire grid */
.theme-entry .grid table.grid-column-header-table {
    border: 2px solid #00496e; /* Change color and width as needed */
    border-collapse: collapse; /* Ensures the border surrounds the table properly */
}

.theme-entry .root-table.Grid-Layout>.editor-cell.lastrow, .theme-entry .root-table.editor-grid>.editor-cell.lastrow {
    padding-bottom: 0;
    color: #00496e; 
    background-color: white;    
}
.Grid-Layout>.editor-cell.align-middle, .SourceCode-Forms-Controls-Web-Table>tbody>tr>.editor-cell.align-middle
{
     background-color: #00496e; 
}
.theme-entry h2
{
    color : white
}
.Grid-Layout>.editor-cell.align-center, .SourceCode-Forms-Controls-Web-Table>tbody>tr>.editor-cell.align-center
{
    color:white
}
.SFC .SourceCode-Forms-Controls-Web-Table {
    color: red;
}

